*{
  margin:0;
  padding: 0;
}
.contenedor__logo{
    display: flex;
}
.contenedor__logo img{
    height: 50px;
}
.contenedor__menu{
    display: flex;
    justify-content: space-between;
    background-color: orange;
    height: 70px;
    padding: 10px;
    align-items: center;
}
nav a {
    font-family: 'Fira Sans', sans-serif;
    color:#fff;
    font-size: 20px;
    text-decoration: none;
    margin: 15px;
}
nav a:hover{
    background-color: rgb(64, 62, 62);
    padding: 15px;
}